@page
@model PBKK1.Pages.q1.companyModel
@{
	ViewData["Title"] = "OX Company";
}
<div class="w3-display-container w3-content w3-wide" style="max-width:1500px;" id="company">
	<img class="w3-image" src="~/img/art2.webp" alt="Architecture" width="1500" height="800">
	<div class="w3-display-middle w3-margin-top w3-center">
		<h1 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>OX</b></span> <span class="w3-hide-small w3-text-black">Arts</span></h1>
		<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16"></h3>
		<p>
			OX Arts is a company that provides art services
			such as custom paintings, statues, and drawings.
		</p>
	</div>
</div>
<div class="w3-container w3-padding-32" id="about" style="margin-bottom: 30px; text-align: center;">
	<br />
	<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Profile</h3>
	<p>
		Our company is a trusted company that provides the best service to clients.
		<br />
		OX Arts was founded by Bagaskoro Kuncoro Ardi in 2022,
		and includes some local artists.<br />
		Our team and local artists have made and created many splendid art products.<br />
		OX Arts is based in Surabaya, Indonesia.
	</p>
	<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16">Our Vision</h3>
	<p style="margin-bottom: 30px;">
		To give the customer the most beautiful and customised art possible.
	</p>
	<h3 class="w3-border-bottom w3-border-light-grey w3-padding-16 ">Our Mission</h3>
	<ul style="margin-bottom: 30px;">
		<li class="m-2">Making custumised art products</li>
		<li class="m-2">Giving best services for any requested products</li>
		<li class="m-2">Delivering results according to the estimated time</li>
		<li class="m-2">Delivering results beyond expectations</li>
	</ul>
</div>
